.amount {
  width: 100%;
  height: 50px;
  background-color: lightgreen;
  margin-top: 20px;
  @include div-center;

  .amount__container {
    width: 70%;
    height: 90%;
    background-color: lightcoral;
    @include div-center;
    padding-left: 20px;
    border-radius: 5px;

    .amount__input {
      flex-basis: 80%;
      height: 100%;
      border: none;
      background-color: transparent;
      font-size: 18px;

      &::placeholder {
        font-size: 14px;
      }
    }

    .amount__clear {
      flex-basis: 20%;
      @include div-center;
      background-color: transparent;
      border: none;
      cursor: pointer;

      .material-icons {
        font-size: 20px;
      }
    }
  }
}

@media (min-width: 549.98px) {
  .amount {
    margin-top: 50px;
    .amount__container {
      width: $input-width-smaller;

      .amount__input {
        &::placeholder {
          font-size: 16px;
        }
      }
    }
  }
}

@media (min-width: 799.98px) {
  .amount {
    .amount__container {
      width: $input-width-bigger;
    }
  }
}

@media (max-height: 599.98px) {
  .amount {
    margin-top: 5px;
  }
}
