.info {
  width: 100%;
  height: 50px;
  margin-top: 10px;
  background-color: lightgreen;
  @include div-center;
  text-align: center;
  font-size: 12px;
}

@media (min-width: 799.98px) {
  .info {
    font-size: 14px;
  }
}
