.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5;

  .modal__window {
    position: fixed;
    top: 50%;
    left: 50%;
    transform-origin: 50%, 50%;
    transform: translate(-50%, -50%) scale(0);
    background: rgb(233, 213, 196);
    background: linear-gradient(
      45deg,
      rgba(233, 213, 196, 1) 0%,
      rgba(217, 172, 141, 1) 100%
    );
    transition: 0.3s linear;
    width: 99%;
    height: auto;
    z-index: 6;
    display: flex;
    flex-direction: column;

    .modal__close {
      @include div-center;
      width: 30px;
      height: 30px;
      background-color: red;
      color: $color-5;
      border: none;
      cursor: pointer;
      flex-basis: 30px;
      align-self: flex-end;
      transition: 0.05s linear;

      &:hover {
        background-color: darkred;
        color: $color-1;
      }

      &:active {
        transform: scale(0.8);
      }
    }

    .modal__chart {
      margin-bottom: 30px;
    }
  }
}

.modal.active {
  width: 100%;
  height: 100vh;

  .modal__window {
    transform: translate(-50%, -50%) scale(1);
  }
}

@media (min-width: 549.98px) {
  .modal {
    .modal__window {
      width: 500px;
    }
  }
}

@media (min-width: 799.98px) {
  .modal {
    .modal__window {
      width: 600px;
    }
  }
}

@media (min-width: 1349.98px) {
  .modal {
    .modal__window {
      width: 800px;
    }
  }
}

@media (max-height: 329.98px) {
  .modal {
    .modal__window {
      width: 400px;
    }
  }
}

@media (max-height: 269.98px) {
  .modal {
    .modal__window {
      width: 300px;
    }
  }
}
