$header-height: 40px;
$footer-height: 30px;
$input-width-bigger: 500px;
$input-width-smaller: 400px;

// ! COLORS - CHOCOLATE - FROM BRIGHTEST 1/5

$color-1: #e9d5c4;
$color-2: #d9ac8d;
$color-3: #a5613c;
$color-4: #683309;
$color-5: #2e1201;
$color-placeholder: #70594c;
